.griddisplay {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 100px;
}

.item {
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: #9a0508;
}
.but {
  width: 250px;
}

.hotelimgkano {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.poortimaadu {
  padding: 0 0 0 0;
  margin-left: 100px;
}
.chikkudu {
  width: 20px;
}
